@for (item of integrantes; track item.id) {
  <div class="col-md-4 mb-4">
    <div class="card text-center">

      <h4 class="nombre">
        {{ item.nombre }}
      </h4>

      <p class="rol">
        {{ item.rol }}
      </p>

      <div class="redes">
        <a class="btn btn-dark btn-social mx-2" href="#!">
          <i class="fab fa-twitter"></i>
        </a>

        <a class="btn btn-dark btn-social mx-2" href="#!">
          <i class="fab fa-facebook-f"></i>
        </a>

        <a class="btn btn-dark btn-social mx-2" href="#!">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>

    </div>
  </div>
}